.footer-panel 
{
    height: 400px;
}
.link-sec
{
    text-align: center;
}
.footer-link-sec
{
    position: relative;
}
.footer-link
{
    margin-left:10px;
    margin-right:10px;
}
.foot-profile-link
{
    text-decoration: none;
    color: greenyellow;
    margin: 3%;
}
ul
{
    list-style-type: none;
}