<div class="row">
  <div class="col-3">
    <ul>
      <li>About Us</li>
      <li>FAQ</li>
      <li>Feedback</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="col-3">
    <ul>
      <li>Latest Releases</li>
      <li>Catalog</li>
      <li>Admin</li>
    </ul>
  </div>
  <div class="col-6 link-sec">
    <div class="footer-link-sec">
        View me on
        <br>
        <span class="mif-github mif-lg fg-white footer-link"></span>
        <span class="mif-facebook mif-lg fg-white footer-link"></span>
        <span class="mif-linkedin mif-lg fg-white footer-link"></span>
        <span class="mif-twitter mif-lg fg-white footer-link"></span>
    </div>
  </div>
</div>