.cat-banner-link
{
    font-size: 14px;
}
.cat-banner-title
{
    font-weight: 700;
    font-size: 2rem;
}
.cat-updates-box
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.cat-card
{
    background: #282828;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left:2px;
    margin-right:2px;
}

.cat-card :hover
{
    background: #212020;
    border-radius: 5px;
    cursor: pointer;
}

.text-sub
{
    font-size: 0.8rem;
    font-weight: 100;
}