<ul class="h-menu bg-black">
  <li (click) = "openHomePage()"><a><img src="../../../assets/logo/logoW.png" width="100" height="40"></a></li>
  <li class="cat-banner-button"><a class="cat-banner-link">About us</a></li>
  <li class="cat-banner-button"><a class="cat-banner-link">FAQ</a></li>
</ul>

<div class="container-fluid cat-updates-box">
  <span class="cat-banner-title">Latest Updates</span>
</div>

<div class="row">
  <!-- FOR LOOP OVER CARDS -->
  <div class="cell-3 ">
    <div class="icon-box border cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-android"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-codepen"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-css3"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-git"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-html5"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-linux"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-joomla"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

  <div class="cell-3">
    <div class="icon-box border bd-white cat-card">
        <div class="icon bg-black cat-card-icon"><span class="mif-windows"></span></div>
        <div class="content p-4">
            <div class="text-upper">cpu traffic</div> 
        </div>
    </div>
  </div>

</div>

<div class="container-fluid cat-updates-box">
  <span class="cat-banner-title">View Full Catalog</span>
</div>