<div class="intro-heading">
  <div style="margin-left:auto">
    <h2>
      Why Laniak?
    </h2>
  </div>
</div>

<div class="container">

    <div class="row feature-box">
      <span class="col-2 feature-num">01</span>
      <div class="col-6 feature-text">
        <h4><b>Easy to Understand.</b></h4>
        <p>Laniak docs are created in simplest terms that are easy to quickly understand and absorb. Sharing their own experiene through notes laniak will connect you with developers around the world</p>
      </div>
      <img src="assets/homepage_img/laniak-feature-1.png" class="feature-img float-end">
    </div>

    <div class="row feature-box">
      <span class="col-2 feature-num">02</span>
      <img src="assets/homepage_img/laniak-feature-2_v1.png" class="feature-img">
      <div class="col-6 feature-text ms-auto">
        <h4><b>More Productive.</b></h4>
        <p>Laniak opens doors to wide range of developer technologies. Developers around thee world can help through laniak for you to be more productive and make your own legacy application</p>
      </div>
    </div>

    <div class="row feature-box">
      <span class="col-2 feature-num">03</span>
      <div class="col-6 feature-text">
        <h4><b>Backed by huge community.</b></h4>
        <p>Laniak thanks to all the developers around the world for putting their efforts in sharing their problems and solving them throuh laniak. This laniak is created for delopers by developers itself</p>
      </div>
      <img src="assets/homepage_img/laniak-feature-3_v1.png" class="feature-img float-end">
    </div>

</div>