.intro-heading
{
    text-align: center;
    margin-bottom: 70px;
}
.feature-num
{
    position: absolute;
    right:0px;
    font-size:10em;
    font-family: fantasy;
    color:grey;
    opacity: 0.1;
}
.feature-img
{
    
    width: 520px;
    height: 400px;
    position: relative; 
    top: -20%;
}
.feature-text
{
    width:50%
}
.feature-box
{
    height:350px;
    z-index: 1;
    margin-bottom: 105px;
}
.left
{
    position: absolute;
    left: 0px;
}
.right
{
    position: absolute;
    right: 0px;
}
@media only screen and (max-width:1100px)
{
    .feature-img
    {
        display: none;
    }
    .feature-text
    {
        width:100%;
    }
    .feature-box
    {
        height:220px;
        margin-bottom:50px;
    }
}