.contro-ball
{
    border-radius: 50%;
    border: 1px solid white;
    width: 28%;
    height: 100%;
}
.contro-count
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contro-parent
{
    position: relative;
    top: 0;
    bottom: 0;
}
.contro-panel
{
    width: 100% !important;
    height: 100% !important;
    background: rgb(66, 65, 65) !important;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}

.contro-box
{
    padding: 5%;
    margin-bottom: 5%;
    text-align: center;
    overflow: hidden;
    background: rgb(66, 65, 65) !important;
}

.contro-title
{
    margin-bottom: 100px;
}
.contro-btn
{
    margin: 1%;
}
.contro-cell
{
    padding-left: 0px;
    padding-right: 0px;
} 
.contro-cell-count
{
    color: #ffffff;
}
.contro-sub
{
    margin-top: 50px;
}