<div class="banner">
  
    <nav class="navbar justify-content-between">
      <a class="navbar-brand">Laniak</a>
      <div class="ms-auto d-flex">
        <a class="nav-item nav-link nav-btn" (click)="openCatalog()"><span class="material-icons">list</span></a>
        <a class="nav-item nav-link nav-btn" (click)="openCatalog()"><span class="material-icons">help_outline</span></a>
        <a class="nav-item nav-link nav-btn" (click)="openCatalog()"><span class="material-icons">call</span></a>
        <a class="nav-item nav-link nav-btn" (click)="openCatalog()"><span class="material-icons">login</span></a>
      </div>
    </nav>

    <!-- <canvas #canvas id="canvas" class="banner-gl" style="height: 100%; width: 100%;"></canvas> -->
    
    <div class="banner-comps">
      <h1 class="display-4 banner-text">
        <img src="../../../assets/logo/logoDesign.png"><br><b>Laniak</b>
      </h1>
      <blockquote class="blockquote">
        Learn and evolve through the super cluster of tech-science
      </blockquote>
      Laniak is knowledge sharing hub here you can learn <br> through the experices shared by community via docs to get optimum <br> solution for your problem
    </div>
</div>